In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv(r"C:\Users\Aymen\Desktop\INFO 4050\line_score.csv")

In [3]:
print(df.shape)
df.head()

(60695, 43)

,game_date_est,game_sequence,game_id,team_id_home,team_abbreviation_home,team_city_name_home,team_nickname_home,team_wins_losses_home,pts_qtr1_home,pts_qtr2_home,...,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_ot5_away,pts_ot6_away,pts_ot7_away,pts_ot8_away,pts_ot9_away,pts_ot10_away,pts_away
0,1946-11-01 00:00:00,NaN,24600001,1610610035,HUS,Toronto,Huskies,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68
1,1946-11-02 00:00:00,NaN,24600003,1610610034,BOM,St. Louis,Bombers,-,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51
2,1946-11-02 00:00:00,NaN,24600002,1610612738,BOS,Boston,Celtics,-,10.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59
3,1946-11-02 00:00:00,NaN,24600004,1610610025,CHS,Chicago,Stags,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47
4,1946-11-02 00:00:00,NaN,24600005,1610610036,WAS,Washington,Capitols,-,21.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33

In [4]:
df.describe()

,game_sequence,game_id,team_id_home,pts_qtr1_home,pts_qtr2_home,pts_qtr3_home,pts_qtr4_home,pts_ot1_home,pts_ot2_home,pts_ot3_home,...,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_ot5_away,pts_ot6_away,pts_ot7_away,pts_ot8_away,pts_ot9_away,pts_ot10_away,pts_away
count,31510.000000,6.069500e+04,6.069500e+04,59592.000000,59581.000000,59543.000000,59542.000000,31267.000000,29924.000000,29726.000000,...,29924.00000,29726.000000,29697.000000,11417.000000,11416.0,11416.0,11416.0,11416.0,11416.0,60695.000000
mean,4.452491,2.502581e+07,1.610613e+09,25.945110,25.596885,25.692508,25.808169,1.108229,0.160974,0.024120,...,0.15673,0.025096,0.010001,0.001489,0.0,0.0,0.0,0.0,0.0,102.906220
std,3.115507,3.576927e+06,3.608870e+02,5.837687,5.775520,5.907112,6.149502,3.409210,1.328577,0.501426,...,1.29744,0.522312,0.800475,0.159101,0.0,0.0,0.0,0.0,0.0,14.671246
min,0.000000,2.000000e+07,1.610610e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
25%,2.000000,2.120113e+07,1.610613e+09,22.000000,22.000000,22.000000,22.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,93.000000
50%,4.000000,2.610011e+07,1.610613e+09,26.000000,26.000000,26.000000,26.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,103.000000
75%,7.000000,2.840021e+07,1.610613e+09,30.000000,29.000000,30.000000,30.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,113.000000
max,15.000000,2.990119e+07,1.610613e+09,72.000000,60.000000,51.000000,53.000000,25.000000,22.000000,19.000000,...,22.00000,20.000000,130.000000,17.000000,0.0,0.0,0.0,0.0,0.0,186.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60695 entries, 0 to 60694
Data columns (total 43 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_date_est           60695 non-null  object
 1   game_sequence           31510 non-null  float64
 2   game_id                 60695 non-null  int64
 3   team_id_home            60695 non-null  int64
 4   team_abbreviation_home  60695 non-null  object
 5   team_city_name_home     60695 non-null  object
 6   team_nickname_home      60695 non-null  object
 7   team_wins_losses_home   60695 non-null  object
 8   pts_qtr1_home           59592 non-null  float64
 9   pts_qtr2_home           59581 non-null  float64
 10  pts_qtr3_home           59543 non-null  float64
 11  pts_qtr4_home           59542 non-null  float64
 12  pts_ot1_home            31267 non-null  float64
 13  pts_ot2_home            29924 non-null  float64
 14  pts_ot3_home            29726 non-null  float64
 15  pts_ot4_home            29697 non-null  float64
 16  pts_ot5_home            11417 non-null  float64
 17  pts_ot6_home            11416 non-null  float64
 18  pts_ot7_home            11416 non-null  float64
 19  pts_ot8_home            11416 non-null  float64
 20  pts_ot9_home            11416 non-null  float64
 21  pts_ot10_home           11416 non-null  float64
 22  pts_home                60695 non-null  int64
 23  team_id_away            60695 non-null  int64
 24  team_abbreviation_away  60695 non-null  object
 25  team_city_name_away     60695 non-null  object
 26  team_nickname_away      60695 non-null  object
 27  team_wins_losses_away   60695 non-null  object
 28  pts_qtr1_away           59586 non-null  float64
 29  pts_qtr2_away           59581 non-null  float64
 30  pts_qtr3_away           59541 non-null  float64
 31  pts_qtr4_away           59540 non-null  float64
 32  pts_ot1_away            31267 non-null  float64
 33  pts_ot2_away            29924 non-null  float64
 34  pts_ot3_away            29726 non-null  float64
 35  pts_ot4_away            29697 non-null  float64
 36  pts_ot5_away            11417 non-null  float64
 37  pts_ot6_away            11416 non-null  float64
 38  pts_ot7_away            11416 non-null  float64
 39  pts_ot8_away            11416 non-null  float64
 40  pts_ot9_away            11416 non-null  float64
 41  pts_ot10_away           11416 non-null  float64
 42  pts_away                60695 non-null  int64
dtypes: float64(29), int64(5), object(9)
memory usage: 19.9+ MB

## Clean/Filter Data:
 - Home team only
 - Point Data, not including overtime
 - From Jan 1, 2022
 - Properly convert datetime data

In [6]:
df['pts_ot1_home'].unique()

array([18., nan,  7.,  4., 10., 15., 12.,  3., 13.,  6.,  5.,  8., 20.,
        9., 11., 14.,  2., 17.,  0.,  1., 16., 19., 21., 22., 24., 23.,
       25.])

In [7]:
print(sum(df['pts_ot1_home'].isnull()))
print(sum(df['pts_ot1_home'] == 0))

29428
27876

In [8]:
dfHome = df[['game_date_est',
             'team_id_home',
             'team_abbreviation_home',
             'pts_qtr1_home',
             'pts_qtr2_home',
             'pts_qtr3_home',
             'pts_qtr4_home',
             'pts_home'
            ]].loc[df['pts_ot1_home'].isin([np.nan, 0])]

In [9]:
pd.to_datetime(dfHome['game_date_est']).dt.date
dfHome = dfHome.loc[df['game_date_est'] > '2022-01-01']

In [10]:
dfHome.shape

(1503, 8)

In [11]:
dfHome = dfHome.drop(columns = ['game_date_est', 'team_abbreviation_home'])
dfHome = dfHome.rename(columns={'team_id_home':'Team Name',
                       'pts_qtr1_home':'Quarter 1',
                       'pts_qtr2_home':'Quarter 2',
                       'pts_qtr3_home':'Quarter 3',
                       'pts_qtr4_home':'Quarter 4',
                       'pts_home':'Total Points'})
print(dfHome.head())

        Team Name  Quarter 1  Quarter 2  Quarter 3  Quarter 4  Total Points
59097  1610612749       27.0       37.0       32.0       40.0           136
59098  1610612751       30.0       23.0       34.0       29.0           116
59100  1610612743       30.0       47.0       22.0       25.0           124
59101  1610612762       24.0       26.0       41.0       25.0           116
59102  1610612764       32.0       32.0       24.0       31.0           119

## Determine if Points Per Quarter are Correlated

In [12]:
qrtrs = dfHome[['Quarter 1', 'Quarter 2', 'Quarter 3', 'Quarter 4', 'Total Points']]

In [ ]:
sns.set_theme(style="white", palette="pastel")
fig, axs = plt.subplots(3,2, figsize = (30,20))
fig.suptitle('Quarter 1')

axs[0,0].set_title('Quarter 1:2')
ax = sns.scatterplot(data=dfHome, x='Quarter 1', y='Quarter 2', ax = axs[0,0], color = 'black')

axs[0,1].set_title('Quarter 1:3')
ax = sns.scatterplot(data=dfHome, x='Quarter 1', y='Quarter 3', ax = axs[0,1], color = 'black')

axs[1,0].set_title('Quarter 1:4')
ax = sns.scatterplot(data=dfHome, x='Quarter 1', y='Quarter 4', ax = axs[1,0], color = 'black')

axs[1,1].set_title('Quarter 2:3')
ax = sns.scatterplot(data=dfHome, x='Quarter 2', y='Quarter 3', ax = axs[1,1], color = 'black')

axs[2,0].set_title('Quarter 2:4')
ax = sns.scatterplot(data=dfHome, x='Quarter 2', y='Quarter 4', ax = axs[2,0], color = 'black')

axs[2,1].set_title('Quarter 3:4')
ax = sns.scatterplot(data=dfHome, x='Quarter 3', y='Quarter 4', ax = axs[2,1], color = 'black')

In [ ]:
fig, axs = plt.subplots(2, 2, figsize = (30,20))
fig.suptitle('Quarters and Total Points')

axs[0,0].set_title('Quarter 1 | Total Points')
ax = sns.scatterplot(data=dfHome, x='Total Points', y='Quarter 1', ax = axs[0,0], color = 'red')

axs[0,1].set_title('Quarter 2 | Total Points')
ax = sns.scatterplot(data=dfHome, x='Total Points', y='Quarter 2', ax = axs[0,1], color = 'blue')

axs[1,0].set_title('Quarter 3 | Total Points')
ax = sns.scatterplot(data=dfHome, x='Total Points', y='Quarter 3', ax = axs[1,0], color = 'purple')

axs[1,1].set_title('Quarter 4 | Total Points')
ax = sns.scatterplot(data=dfHome, x='Total Points', y='Quarter 4', ax = axs[1,1], color = 'green')

In [ ]:
qrtrs.corr().style.background_gradient(cmap='Greens')

Q1 has highest correlation, this correlation consistently drops every quarter, possible reasons:
 1. Less points are scored every quarter
 2. The earlier quarters are a greater indication of total game points.
 3. This difference in correlation (~5% from Q1 to Q4) is not significant

## 1. Check point distributions for each quarter

In [ ]:
sns.set_theme(style="white", palette="bright")
fig, axs = plt.subplots(2,2, figsize = (30,20))
fig.suptitle('Point Distributions')

axs[0,0].set_title('Quarter 1')
axs[0,0].axvline(x=dfHome['Quarter 1'].mean(), color='red', linestyle = '--', label = f'Mean:{round(dfHome["Quarter 1"].mean(), 2)}')
axs[0,0].axvline(x=dfHome['Quarter 1'].median(), color='blue', label = f'Median:{round(dfHome["Quarter 1"].median(), 2)}')
axs[0,0].axvline(x=dfHome['Quarter 1'].mode()[0], color='purple', linestyle = '-.', label = f'Mode:{round(dfHome["Quarter 1"].mode()[0], 2)}')
axs[0,0].legend(fontsize = 'x-large')
ax = sns.histplot(dfHome['Quarter 1'], ax = axs[0,0], color = 'grey')


axs[0,1].set_title('Quarter 2')
axs[0,1].axvline(x=dfHome['Quarter 2'].mean(), color='red', linestyle = '--', label = f'Mean:{round(dfHome["Quarter 2"].mean(), 2)}')
axs[0,1].axvline(x=dfHome['Quarter 2'].median(), color='blue', label = f'Median:{dfHome["Quarter 2"].median()}')
axs[0,1].axvline(x=dfHome['Quarter 2'].mode()[0], color='purple', linestyle = '-.', label = f'Mode:{dfHome["Quarter 2"].mode()[0]}')
axs[0,1].legend(fontsize = 'x-large')
ax = sns.histplot(dfHome['Quarter 2'], ax = axs[0,1], color = 'grey')

axs[1,0].set_title('Quarter 3')
axs[1,0].axvline(x=dfHome['Quarter 3'].mean(), color='red', linestyle = '--', label = f'Mean:{round(dfHome["Quarter 3"].mean(), 2)}')
axs[1,0].axvline(x=dfHome['Quarter 3'].median(), color='blue', label = f'Median:{dfHome["Quarter 3"].median()}')
axs[1,0].axvline(x=dfHome['Quarter 3'].mode()[0], color='purple', linestyle = '-.', label = f'Mode:{dfHome["Quarter 3"].mode()[0]}')
axs[1,0].legend(fontsize = 'x-large')
ax = sns.histplot(dfHome['Quarter 3'], ax = axs[1,0], color = 'grey')

axs[1,1].set_title('Quarter 4')
axs[1,1].axvline(x=dfHome['Quarter 4'].mean(), color='red', linestyle = '--', label = f'Mean:{round(dfHome["Quarter 4"].mean(), 2)}')
axs[1,1].axvline(x=dfHome['Quarter 4'].median(), color='blue', label = f'Median:{dfHome["Quarter 4"].median()}')
axs[1,1].axvline(x=dfHome['Quarter 4'].mode()[0], color='purple', linestyle = '-.', label = f'Mode:{dfHome["Quarter 4"].mode()[0]}')
axs[1,1].legend(fontsize = 'x-large')
ax = sns.histplot(dfHome['Quarter 4'], ax = axs[1,1], color = 'grey')

In [ ]:
round((1-27.17/28.89)*100, 2)

Similar distributions and similar measures of center, will not be exploring option 1 further.

# Confirm the obvious - 
## Run a multi-variable linear regression model using the points from the 4 quarters and the total points scored

In [ ]:
q1 = np.array(dfHome['Quarter 1'])
q2 = np.array(dfHome['Quarter 2'])
q3 = np.array(dfHome['Quarter 3'])
q4 = np.array(dfHome['Quarter 4'])

x = np.stack((q1, q2, q3, q4), axis=1)
y = np.array(dfHome['Total Points'])
model = LinearRegression().fit(x, y)

print(f"coefficient of determination: {model.score(x, y)}")
print(f"intercept: {model.intercept_}")
print(f"slope: {model.coef_}")

## 2. Run a linear regression model for each quarter and the total points scored.

### Quarter 1

In [ ]:
x = q1.reshape((-1, 1))
model = LinearRegression().fit(x, y)

print(f"coefficient of determination: {model.score(x, y)}")
print(f"intercept: {model.intercept_}")
print(f"slope: {model.coef_}")

### Quarter 2

In [ ]:
x = q2.reshape((-1, 1))
model = LinearRegression().fit(x, y)

print(f"coefficient of determination: {model.score(x, y)}")
print(f"intercept: {model.intercept_}")
print(f"slope: {model.coef_}")

### Quarter 3

In [ ]:
x = q3.reshape((-1, 1))
model = LinearRegression().fit(x, y)

print(f"coefficient of determination: {model.score(x, y)}")
print(f"intercept: {model.intercept_}")
print(f"slope: {model.coef_}")

### Quarter 4

In [ ]:
x = q4.reshape((-1, 1))
model = LinearRegression().fit(x, y)

print(f"coefficient of determination: {model.score(x, y)}")
print(f"intercept: {model.intercept_}")
print(f"slope: {model.coef_}")

---
#### Findings:
* The collection of points from the 4 quarters is entirely responsible for the Total Points
* There is no direct correlation between quarters 
* From Heatmap / Pearson Coefficient we can see that each quarter has a ~54-50% chance of being correlated to the Total Points
    - This decreases with each progressive quarter
* From the Coefficient of Determination ($r^2$) we can see that (if correlated) each quarter is responsible for ~30-24% of the Total Points
    - This decreases with each progressive quarter
* With an intercept ranging from ~82-86 we can predict that in 3 quarters ~84 points will be scored
    - Intercept increases with each progressive quarter
* The slope consistently drops from Q1-Q4 despite the fact it hypothetically "should be" at 1.0.
    - All quarters' slopes are above 1.0
    - Despite this consistency, the slope of Q1 and Q2 being 1.086 and 1.059 respectively are significant enough to pay attention to.
* The data shows that points scored in Quarter 1 are over 5% more valuable than points scored in Quarter 4 with the only clear explanation being the 5% difference in mean between the two quarters.
    - Still ~4% more valuable than Q3 with a mean difference that is a fraction of a percent
    - All have same median

---
Despite Quarter 1 having consistently higher values for correlation and strength, the measures of center and distribution between the quarters is relatively even. This is weird because there is no clear sign showing that earlier quarters score more points, and therefore there is no reason different quarters should have different values. Some possible explanations for this are:
* The tone set by the earlier quarters is indicative of how the rest of the game will play out
* The data from blow-out games where the losing team gives up mid-game is affecting the data